<header class="header">
  <a class="logo" href="/"></a>
  <div class="box-skew"></div>
  <nav class="header-nav">
    <ul class="nav-items">
      <li>
        <button><i class="bi bi-person-fill"></i></button>
      </li>
      <li>
        <button><i class="bi bi-file-earmark"></i></button>
      </li>
      <li>
        <button><i class="bi bi-search"></i></button>
      </li>
      <li>
        <button><i class="bi bi-envelope"></i></button>
      </li>
      <li>
        <button><i class="bi bi-gear"></i></button>
      </li>
      <li class="nav-profile">
        <img src="./assets/images/profile-img.jpg">
        <span>Admin</span>
      </li>
    </ul>
  </nav>
</header>
<aside class="sidebar ">
  <ul class="sidebar-nav ">
    <li>
     <kendo-icon name="template-manager" size="xlarge"></kendo-icon>
    </li>
    <li>
      <button><i class="bi bi-file-earmark-text"></i></button>
    </li>
  </ul>
</aside>
<main id="main">
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="">
        <kendo-icon name="template-manager" size="small"></kendo-icon>
        Strategy, Record & Monitor</a></li>
      <li class="breadcrumb-item"><a href="">Strategize</a></li>
      <li class="breadcrumb-item"><a href="">Manage Email</a></li>
      <li class="breadcrumb-item active">Email Template Configuration</li>
    </ol>
  </nav>
  <section class="section">
    <kendo-grid
                [kendoGridBinding]="gridView"
                [pageable]="true"
                [pageSize]="pageSize"
                scrollable="none"
            >
            <kendo-grid-column field="Sno" title="S.No"> </kendo-grid-column
            ><kendo-grid-column field="EmailTemplateID" title="Email Template ID"> </kendo-grid-column>
            <kendo-grid-column field="EmailTemplateName" title="Email Template Name"> </kendo-grid-column>
            <kendo-grid-column field="CreatedOn" title="Created On"> </kendo-grid-column>
            <kendo-grid-column field="CreatedBy" title="Created By"> </kendo-grid-column>
            <kendo-grid-column field="Action" title="Action">
              <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <button kendoButton iconClass="bi bi-eye" size="small">View</button>
                <button kendoButton iconClass="bi bi-pencil" size="small">Edit</button>
                <button kendoButton iconClass="bi bi-trash" size="small">Delete</button>
            </ng-template>
            </kendo-grid-column>
            <ng-template kendoPagerTemplate let-totalPages="totalPages" let-currentPage="currentPage">
                <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
                <kendo-pager-numeric-buttons [buttonCount]="buttonCount"></kendo-pager-numeric-buttons>
                <kendo-pager-next-buttons></kendo-pager-next-buttons>
                <kendo-pager-info></kendo-pager-info>
            </ng-template>
        </kendo-grid>

    <!-- <div class="table mobile-accordion">
      <div class="thead">
        <div class="tr">
          <div class="th">S.No</div>
          <div class="th">Email Template ID</div>
          <div class="th">Email Template Name</div>
          <div class="th">Create On</div>
          <div class="th">Create By</div>
          <div class="th">Action</div>
        </div>
      </div>
      <div class="tbody">
        <div class="rh active"><span>E-001</span></div>
        <div class="tr">
          <div class="td" data-header="S.No:">1</div>
          <div class="td" data-header="Email Template ID:">E-001</div>
          <div class="td" data-header="Email Template Name:">D-NAP Template</div>
          <div class="td" data-header="Create On:">01.11.2022</div>
          <div class="td" data-header="Create By:">HO user</div>
          <div class="td" data-header="Action:">
            <div class="action-container">
              <button><i class="bi bi-eye"></i>View</button>
              <button><i class="bi bi-pencil"></i>Edit</button>
              <button><i class="bi bi-trash"></i>Delete</button>
            </div>
          </div>
        </div>
        <div class="rh"><span>E-002</span></div>
        <div class="tr">
          <div class="td" data-header="S.No:">2</div>
          <div class="td" data-header="Email Template ID:">E-002</div>
          <div class="td" data-header="Email Template Name:">SMA Template</div>
          <div class="td" data-header="Create On:">02.11.2022</div>
          <div class="td" data-header="Create By:">Zone Head</div>
          <div class="td" data-header="Action:">
            <div class="action-container">
              <button><i class="bi bi-eye"></i>View</button>
              <button><i class="bi bi-pencil"></i>Edit</button>
              <button><i class="bi bi-trash"></i>Delete</button>
            </div>
          </div>
        </div>
        <div class="rh"><span>E-003</span></div>
        <div class="tr">
          <div class="td" data-header="S.No:">3</div>
          <div class="td" data-header="Email Template ID:">E-003</div>
          <div class="td" data-header="Email Template Name:">SMA Template</div>
          <div class="td" data-header="Create On:">03.11.2022</div>
          <div class="td" data-header="Create By:">HR</div>
          <div class="td" data-header="Action:">
            <div class="action-container">
              <button><i class="bi bi-eye"></i>View</button>
              <button><i class="bi bi-pencil"></i>Edit</button>
              <button><i class="bi bi-trash"></i>Delete</button>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </section>
</main>